#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config G3_EXAMPLE
	bool "G3 example"
	default n
	---help---
		Enable the G3 example

if G3_EXAMPLE

config G3_EXAMPLE_PROGNAME
	string "Program name"
	default "example"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config G3_EXAMPLE_PRIORITY
	int "G3 example task priority"
	default 100

config G3_EXAMPLE_STACKSIZE
	int "G3 example stack size"
	default 2048

endif
